<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

<div class="container">
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title text-uppercase mb-0">Available Books</h5>
            </div>
            <div class="table-responsive">
                <table class="table no-wrap user-table mb-0">
                  <thead>
                    <tr>
                      <th scope="col" class="border-0 text-uppercase font-medium pl-4">#</th>
                      <th scope="col" class="border-0 text-uppercase font-medium">Name</th>
                      <th scope="col" class="border-0 text-uppercase font-medium">Author</th>
                      <th scope="col" class="border-0 text-uppercase font-medium">Publisher</th>
                    </tr>
                  </thead>
                  <tbody >
                    <tr>
                      <td class="pl-4"><!--{{BookAuthor.id}}-->1</td>
                      <td>
                          <h5 class="font-medium mb-0"><!--{{BookAuthor.bookName}}-->Harry Potter</h5>
                      </td>
                      <td>
                          <span class="text-muted"><!--{{BookAuthor.author}}-->J. K. Rowling</span><br>
                      </td>
                      <td>
                          <span class="text-muted"><!--{{BookAuthor.publisher}}-->Edu</span><br>
                      </td>

                      <!-- <td>
                        <button type="button" class="btn btn-outline-info btn-circle btn-lg btn-circle"><i class="fa fa-key"></i> </button>
                        <button type="button" class="btn btn-outline-info btn-circle btn-lg btn-circle ml-2"><i class="fa fa-trash"></i> </button>
                        <button type="button" class="btn btn-outline-info btn-circle btn-lg btn-circle ml-2"><i class="fa fa-edit"></i> </button>
                        <button type="button" class="btn btn-outline-info btn-circle btn-lg btn-circle ml-2"><i class="fa fa-upload"></i> </button>
                      </td> -->
                    </tr>
                  </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>
